---
{{ ansible_managed | comment }}

# Example configuration:
# https://github.com/elastic/beats/blob/master/filebeat/filebeat.yml

#=========================== Filebeat inputs =============================
filebeat.inputs:
  {{ filebeat_prospectors | to_json }}


{# Only one filebeat instance should have modules enabled #}
{% if filebeat_enable_modules|length > 0 %}
#============================= Filebeat modules ===============================

filebeat.config:
  modules:
    # Glob pattern for configuration loading
    path: ${path.config}/modules.d/*.yml

    # Set to true to enable config reloading
    reload.enabled: false
{% endif %}

#============================= Processors ==================================
{{ filebeat_processors_conf | to_nice_yaml }}

#============================== Kibana =====================================

# Starting with Beats version 6.0.0, the dashboards are loaded via the Kibana API.
# This requires a Kibana endpoint configuration.
setup.kibana:

  # Kibana Host
  # Scheme and port can be left out and will be set to the default (http and 5601)
  # In case you specify and additional path, the scheme is required: http://localhost:5601/path
  # IPv6 addresses should always be defined as: https://[2001:db8::1]:5601
  host: "{{ filebeat_kibana_url }}"

#================================ Outputs =====================================

# Only a single output may be defined.
{% if filebeat_output_elasticsearch_enabled %}
### Elasticsearch as output
output.elasticsearch:
    # Array of hosts to connect to.
    hosts: {{ filebeat_output_elasticsearch_hosts | to_json }}

    # Proxy server URL
    # proxy_url: http://proxy:3128
 {% if filebeat_ssl_enabled %}
    # If any 'ssl' parameters are included, defaults to 'true', otherwise defaults to 'false'.  
    # Can force true or false independent of ssl section settings
    ssl.enabled: {{ filebeat_ssl_enabled }}
{% endif %}
{% if filebeat_ssl_certificate_authorities %}
    ssl.certificate_authorities: {{ filebeat_ssl_certificate_authorities }}
{% endif %}
{% if filebeat_ssl_certificate_file and filebeat_ssl_key_file %}
    # Certificate for TLS client authentication
    ssl.certificate: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_certificate_file | basename }}"
    # Client Certificate Key
    ssl.certificate_key: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_key_file | basename}}"
{% endif %}
{% if filebeat_ssl_key_passphrase %}
    ssl.key_passphrase: {{ filebeat_ssl_key_passphrase }}
{% endif %}
{% if filebeat_ssl_verification_mode %}
    ssl.verification_mode: {{ filebeat_ssl_verification_mode }}
{% endif %}
{% if filebeat_ssl_cipher_suites %}
    ssl.cipher_suites: {{ filebeat_ssl_cipher_suites }}
{% endif %}
{% if filebeat_ssl_curve_types %}
    # Configure curve types for ECDHE based cipher suites
    ssl.curve_types: {{ filebeat_ssl_curve_types }}
{% endif %}
{% if filebeat_ssl_supported_protocols %}
    ssl.supported_protocols: {{ filebeat_ssl_supported_protocols }}
{% endif %}
{% endif %}

{% if filebeat_output_logstash_enabled %}
### Logstash as output
output.logstash:
    # The Logstash hosts
    hosts: {{ filebeat_output_logstash_hosts | to_json }}
{% if filebeat_ssl_enabled %}
    # If any 'ssl' parameters are included, defaults to 'true', otherwise defaults to 'false'.
    # Can force true or false independent of ssl section settings
    ssl.enabled: {{ filebeat_ssl_enabled }}
{% endif %}
{% if filebeat_ssl_certificate_authorities %}
    ssl.certificate_authorities: {{ filebeat_ssl_certificate_authorities | to_json }}
{% endif %}
{% if filebeat_ssl_certificate_file and filebeat_ssl_key_file %}
    # Certificate for TLS client authentication
    ssl.certificate: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_certificate_file | basename }}"
    # Client Certificate Key
    ssl.certificate_key: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_key_file | basename}}"
{% endif %}
{% if filebeat_ssl_key_passphrase %}
    ssl.key_passphrase: {{ filebeat_ssl_key_passphrase }}
{% endif %}
{% if filebeat_ssl_verification_mode %}
    ssl.verification_mode: {{ filebeat_ssl_verification_mode }}
{% endif %}
{% if filebeat_ssl_cipher_suites %}
    ssl.cipher_suites: {{ filebeat_ssl_cipher_suites | to_json }}
{% endif %}
{% if filebeat_ssl_curve_types %}
    # Configure curve types for ECDHE based cipher suites
    ssl.curve_types: {{ filebeat_ssl_curve_types | to_json }}
{% endif %}
{% if filebeat_ssl_supported_protocols %}
    ssl.supported_protocols: {{ filebeat_ssl_supported_protocols | to_json}}
{% endif %}
{% endif %}

{{ filebeat_output_kafka_conf | to_nice_yaml }}

#================================ Logging =====================================

logging.level: {{ filebeat_logging_level }}
logging.selectors: {{ filebeat_logging_selectors | to_json }}
logging.to_files: {{ filebeat_logging_to_files }}
logging.files: {{ filebeat_logging_files | to_json }}
